<div class="back" style = "padding-top: 0px">
<div class="container" style="padding-top:100px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form id="form-login" (ngSubmit)="onLoginSubmit()">
            <h1 style="text-align:center">Log In</h1>
            <div class="input-group mb-3">
              <input type="text" [(ngModel)]="user.username" placeholder = "Username" id="username" name="username" class="form-control" >
            </div>
            <div class="input-group mb-3">
              <input type="password" [(ngModel)]="user.password" placeholder = "Password"  id="password" name="password" class="form-control" >
            </div>
            <p align="center"><button id="login-button" type="submit" class="btn btn-accent">Login</button></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
