.back{
  background-image: url('../images/green_med.jpg');
  background-repeat: repeat;
  height: 100%;
}
.form-control {
  width: 300px;
  margin-left: 450px;
}
.btn-primary {
  margin-left: 550px;
  background-color: #058c23;
  border-color: black;
}
.aliniere {
  margin-left: 400px;
}
