<div class="back">
  <button class = "button-class" (click)="logOut()" >Log Out</button>
<div class="container">
  <h2> Patients</h2>
  <div *ngIf="patients.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="patients.length > 0">
    <table id="table1" class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Id user</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of patients; index as i">
        <td>{{ user.idpatient}}</td>
        <td>{{ user.idUser}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.birthday}}</td>
        <td>{{ user.address}}</td>
        <td>{{ user.gender}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
